numpy
pandas
matplotlib
scikit-learn
opencv-python
torch==2.2.2
torchvision==0.17.2
tflite-runtime
jupyterlab
pyyaml  # For config files
pytest  # For unit testing
tensorboard  # If using logs
pillow
mediapipe
SpeechRecognition