numpy
pandas
matplotlib
scikit-learn
opencv-python
torch
torchvision
tflite-runtime
jupyterlab
pyyaml  # For config files
pytest  # For unit testing
tensorboard  # If using logs
pillow
mediapipe
SpeechRecognition